VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

RESEND_API_KEY=
LILY_EMAIL_FROM="Le Clos Marie-Louise <inquiries@yourdomain.com>"
LILY_EMAIL_TO="lily@example.com"

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
LILY_SMS_TO=
