@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: rgba(255, 255, 255, 0.95);
}

